autopep8==1.4.4
certifi==2019.9.11
chardet==3.0.4
idna==2.8
oauthlib==3.1.0
pycodestyle==2.5.0
PySocks==1.7.1
requests==2.22.0
requests-oauthlib==1.2.0
six==1.13.0
tweepy==3.8.0
Unidecode==1.1.1
urllib3==1.25.9
